  <div style="Margin:0;padding:0;min-width:100%;background-color:#534292">
    
    <center style="width:100%;table-layout:fixed;background-color:#534292;padding-bottom:40px">
      <div style="max-width:600px;background-color:#534292;border-radius:10px">
        

        

        <table align="center" style="border-spacing:0;color:#080707;font-family:SalesforceSans,sans-serif!important;background-color:#534292;Margin:0;padding:0;width:100%;max-width:600px" role="presentation">
          <tbody><tr>
            <td style="padding:0">
              <table width="100%" style="border-spacing:0" role="presentation">
                <tbody><tr><td style="text-align:center">
                  <div  width="200" style="max-width:260px;padding:20px 0 20px 0" border="0" class="CToWUd">
                </td>
              </tr></tbody></table>
            </td>
          </tr>
        </tbody></table>
        
      </div>

      

<div style="width:90%;max-width:600px;background-color:#ffffff;border-radius:10px">
  

  <table align="center" style="border-radius:10px;border-spacing:0;color:#080707;font-family:SalesforceSans,sans-serif!important;background-color:#ffffff;margin:0;padding:0;width:80%" role="presentation">
    <tbody><tr>
      <td style="padding:10px 10px 0 10px;text-align:center">
        <p style="font-size:32px;font-weight:600;margin-bottom:10px">
         Olá <%= @resource.name %>!
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding:0;text-align:center">
        <p style="line-height:1.71"><span class="im">
          Alguém pediu um link para mudança de senha referente à sua conta:<br>
          </span><a rel="nofollow" style="color:#080707!important;text-decoration:None"><%= @resource.email %></a>
        </p>
      </td>
    </tr>

    <tr>
      <td style="padding:10px;text-align:center">
        <p style="font-size:32px;font-weight:600;color:#79589f;margin:0 0 20px 0">
          <strong><%= link_to 'Mudar minha senha', "#{message['redirect-url']}?reset_password_token=#{@token}" %></strong>
          <br>
          
        </p>
      </td>
    </tr>

    <tr>
      <td height="1" style="background-color:#dddbda"></td>
    </tr>

    <tr>
      <td style="text-align:center">
        <p style="font-size:14px;color:#080707">
           Se você não pediu que a sua senha seja recuperada, ignore essa mensagem. 
        </p>
      </td>
    </tr>
  </tbody></table>
  
</div><div><div class="adm"><div id="q_1" class="ajR h4"><div class="ajT"></div></div></div><div class="h5">



      <div style="max-width:600px;background-color:#534292;border-radius:10px;margin-top:10px">
        
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border:0;padding:0;margin:0">
          <tbody><tr>
            <td align="left" style="width:100%;padding:20px;font-family:SalesforceSans,sans-serif;font-size:12px;color:#fefefe;font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:normal;text-align:center">
              © 2022<a style="text-decoration:none;color:#fefefe">
                agende-se.com, inc.</a>
              Todos os direitos reservados.<br>
              Várias marcas registradas detidas por seus respectivos proprietários.<br>
              &nbsp;<br>
              <a style="text-decoration:underline;color:#fefefe" href="https://www.agende-se/privacy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.salesforce.com/company/privacy&amp;source=gmail&amp;ust=1651107912684000&amp;usg=AOvVaw2SnyJ5qb9NHjpqbIgHSg0y">
                Declaração de privacidade
              </a>
            </td>
          </tr>
        </tbody></table>

        
      </div>
    </div></div></center><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">


</div></div></div><div id=":qc" class="ii gt" style="display:none"><div id=":qd" class="a3s aiL "></div></div><div class="hi"></div></div>